.question-input-container {
    border-radius: 0.5rem;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.14);
    background: white;
    margin: 2rem;
}

.question-input-text-area {
    line-height: 1.5rem;
    width: 100%;
    padding: 0 1rem;
}

.question-input-send-button {
    cursor: pointer;
    margin-top: 1rem;
    margin-right: 1rem;
}

.question-input-send-button-is-disabled {
    opacity: 0.4;
}

