.chat-container {
    height: 100%;
    border: 0.1rem solid #ccc;
    margin: 0 20rem;
    background-color: rgb(250, 246, 236);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.chat-title {
    font-size: 3rem;
}

.chat-clear-chat-button {
    cursor: pointer;
}

.chat-upload-document-area {
    float: right;
    width: fit-content;
    cursor: pointer;
    border: 0.2rem dashed rgb(148, 148, 148);
    background-color: #d0cece;
    padding: 0.5rem;
    margin-top: 3rem;
}

