.chat-message-container {
    height: 100%;
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
    padding: 0.5rem;
}

.chat-message {
    display: flex;
    flex-direction: row;
}

.message {
    width: fit-content;
    margin-bottom: 0.5rem;
    padding: 0.2rem;
    border-radius: 0.2rem;
}

.user {
    background-color: #007bff;
    color: #fff;
}

.bot {
    background-color: #e0e0e0;
    color: #000;
    align-items: flex-start;
}