* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  background-color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  height: 100%;
}