.clear-chat-button-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    cursor: pointer;
}

.clear-chat-button-is-disabled {
    opacity: 0.4;
    pointer-events: none;
}

.trashcan-text {
    font-size: 1.2rem;
    margin-top: 0.5rem;
}