.root-layout {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.layout-header {
    text-align: center;
}