.root-layout {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.layout-header {
    text-align: center;
    font-size: 1rem;
}

.main-sidebar {
    background-color: aqua; /* Temporary color */
    flex: 2;
}

.menu-info {
    margin-top: auto; 
    border: 3px solid #73AD21; /* Temporary color */
    flex: 1;
    background-color: burlywood; /* Temporary color */
}